<h4>Add new servers or blueprints!</h4>

<div>
    <label for="server-name">Server Name</label>
    <input 
        id="server-name" 
        type="text" 
        class="form-control"
        #serverNameInput
    >
</div>

<div>
    <label for="server-name">Server Content</label>
    <input 
        id="server-content" 
        type="text" 
        class="form-control"
        [(ngModel)]="newServerContent"
    >
</div>

<div>
    <button 
        class="btn btn-primary"
        (click)="onAddServer(serverNameInput)"
    >Add Server
    </button>
    <button 
        class="btn btn-primary"
        (click)="onAddServerBlueprint(serverNameInput)"
    >Add Server Blueprint
    </button>
</div>
